name: glassmotion_navbar
description: A glassmorphic bottom navigation bar with animated lift/jump and a floating center button for Flutter.
version: 0.1.4

homepage: https://github.com/nayanthomas02/glassmotion_navbar
repository: https://github.com/nayanthomas02/glassmotion_navbar


environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
